.service-card {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 13px;
}

.tab button.active {
    border-bottom: 2px solid blue;
}

.notFilled {
    padding: 13px 10px;
    border: solid 0.5px #f9a684;
    background-color: #fff2ed;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    color: #fb6e34;
    margin-bottom: 30px;
}

.notSuccess {
    padding: 13px 10px;
    border: solid 0.5px #25b431;
    background-color: #53f060;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0, 145, 7);
    margin-bottom: 30px;
}

.payment {
    padding: 13px 10px;
    border: solid 0.5px #2e9acc;
    background-color: #4dc0ee;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(8, 65, 80);
    margin-bottom: 30px;
}

@import url("https://fonts.googleapis.com/css?family=Muli:700");
:root {
    --background-modal-color: #fff;
    --body-color: #fff;
    --color-timeline-default: #d2d3d8;
    --color-step-completed: #5c6174;
    --color-checkmark-completed: #fff;
    --color-in-progress: #13cb8f;
    --color-label-default: var(--color-timeline-default);
    --color-label-completed: var(--color-step-completed);
    --color-label-loading: var(--color-in-progress);
    --color-icon-completed: var(--color-step-completed);
    --color-icon-default: var(--color-timeline-default);
}

body .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 200ms ease;
    background: var(--background-modal-color);
    height: 220px;
    min-width: 220px;
    max-width: 1280px;
    flex-grow: 1;
    border-radius: 5px;
}
body .main-container .steps-container {
    padding: 40px;
    position: relative;
    display: flex;
    align-items: center;
}
body .main-container .steps-container .step {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
    flex-grow: 0;
    height: 15px;
    width: 15px;
    border: 4px solid var(--color-timeline-default);
    border-radius: 50%;
}
body .main-container .steps-container .step .preloader,
body .main-container .steps-container .step svg {
    display: none;
}
body .main-container .steps-container .step.completed {
    width: 18px;
    height: 18px;
    background: var(--color-step-completed);
    border: none;
}
body .main-container .steps-container .step.completed svg {
    transition: all 200ms ease;
    display: block;
    height: 10px;
    width: 10px;
    fill: var(--color-checkmark-completed);
}
body .main-container .steps-container .step.in-progress {
    width: 18px;
    height: 18px;
    background: var(--color-in-progress);
    border: none;
}
body .main-container .steps-container .step.in-progress .preloader {
    display: block;
    height: 10px;
    width: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-left-color: transparent;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
body .main-container .steps-container .step .label {
    position: absolute;
    top: 30px;
    filter: none;
    z-index: 2000;
    color: var(--color-label-default);
    transition: all 200ms ease;
    font-weight: 700;
}
body .main-container .steps-container .step .label.completed {
    color: var(--color-label-completed);
}
body .main-container .steps-container .step .label.loading {
    color: var(--color-label-loading);
}
body .main-container .steps-container .step .icon {
    font-size: 40px;
    position: absolute;
    top: -60px;
    color: var(--color-icon-default);
    transition: color 200ms ease;
}
body .main-container .steps-container .step .icon.completed {
    color: var(--color-icon-completed);
}
body .main-container .steps-container .step .icon.in-progress {
    color: var(--color-in-progress);
}
body .main-container .steps-container .line {
    transition: all 200ms ease;
    height: 2px;
    flex-grow: 1;
    max-width: 120px;
    background: var(--color-timeline-default);
}
body .main-container .steps-container .line.completed {
    background: var(--color-step-completed);
}
body .main-container .steps-container .line.next-step-uncomplete {
    background: linear-gradient(
        to right,
        var(--color-step-completed),
        var(--color-timeline-default)
    );
}
body .main-container .steps-container .line.next-step-in-progress {
    background: linear-gradient(
        to right,
        var(--color-step-completed),
        var(--color-in-progress)
    );
}
body .main-container .steps-container .line.prev-step-in-progress {
    background: linear-gradient(
        to right,
        var(--color-in-progress),
        var(--color-timeline-default)
    );
}

/* card custom */
.card-custom {
    overflow: hidden;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
    position: absolute;
    content: "";
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

/* Service aktif */
#ads {
    margin: 30px 0 30px 0;
}
.rounded {
    width: 600px;
}

#ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background: #ec524b;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}

#ads .card-notify-year {
    position: absolute;
    right: -10px;
    top: -20px;
    background: #ff4444;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
}

#ads .card-detail-badge {
    background: #f5b461;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
}

#ads .card:hover {
    background: #fff;
    box-shadow: 12px 15px 20px 0px #c4e7fb;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#card-produk {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#card-produk:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#ads .card-image-overlay {
    font-size: 20px;
}

#ads .card-image-overlay span {
    display: inline-block;
}

#ads .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    border: 3px solid #214252;
    display: block;
    text-decoration: none;
    margin: 20px auto 1px auto;
    color: #fff;
    overflow: hidden;
    position: relative;
    background-color: #214252;
}

#ads .ad-btn:hover {
    background-color: #e6de08;
    color: #1e1717;
    border: 2px solid #e6de08;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}
#ads .ad-title h5 {
    text-transform: uppercase;
    font-size: 18px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .rounded {
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .rounded {
        width: 500px;
        margin-left: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .main-container {
        margin-left: 130px;
    }
    .rounded {
        width: 450px;
        margin-left: 30px;
    }
}

@media (min-width: 1024px) and(max-width:1200px) {
    .main-container {
        margin-right: 130px;
    }
    .rounded {
        width: 100px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        margin-left: 40px;
    }
    #ads {
        margin-left: 100px;
    }
}
